:root {
  --mainTheme: #8e24aa;
  --hoverTheme: #6a1b9a;
  --hoverThemeLow: #ce93d8;
  --bgTheme: #fafafa;
  --bgThemeHover: #ddd;
  --severeTheme: #d32f2f;
  --severeThemeHover: #b71c1c;
  --highTheme: #ff9800;
  --highThemeHover: #f57c00;
  --mediumTheme: #039be5;
  --mediumThemeHover: #0277bd;
  --lowTheme: #43a047;
  --lowThemeHover: #2e7d32;
  --insignificantTheme: #bdbdbd;
  --insignificantThemeHover: #757575;
  --textColor: #fafafa;
}
* {
  margin: 0;
  padding: 0;
}
.Main {
  text-align: center;
}
@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MapContainerStyle {
  width: 50%;
  height: 50%;
  align-items: center;
}
.closedHead {
  cursor: pointer;
  border: solid 2px var(--mainTheme);
  padding: 5px;
  background-color: var(--mainTheme);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  font-size: 1rem;
}
.openContent {
  cursor: pointer;
  border-left: solid 1px var(--mainTheme);
  border-right: solid 1px var(--mainTheme);
  border-bottom: solid 1px var(--mainTheme);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.severeSeverity {
  cursor: pointer;
  border: solid 2px var(--severeTheme);
  padding: 15px;
  background-color: var(--severeTheme);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  margin-top: 5px;
  transition: 0.2s ease;
}
.severeSeverity:hover {
  border: solid 2px var(--severeThemeHover);
  background-color: var(--severeThemeHover);
  transition: 0.2s ease;
}
.severeSeverity:hover ~ .severeSeverityChild {
  transition: 0.2s ease;
  border-left: solid 1px var(--severeThemeHover);
  border-right: solid 1px var(--severeThemeHover);
  border-bottom: solid 1px var(--severeThemeHover);
}
.highSeverity {
  cursor: pointer;
  border: solid 2px var(--highTheme);
  padding: 15px;
  background-color: var(--highTheme);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  font-size: 1.2rem;
  transition: 0.2s ease;
}
.highSeverity:hover {
  border: solid 2px var(--highThemeHover);
  background-color: var(--highThemeHover);
  transition: 0.2s ease;
}
.highSeverity:hover ~ .highSeverityChild {
  transition: 0.2s ease;
  border-left: solid 1px var(--highThemeHover);
  border-right: solid 1px var(--highThemeHover);
  border-bottom: solid 1px var(--highThemeHover);
}
.mediumSeverity {
  cursor: pointer;
  border: solid 2px var(--mediumTheme);
  padding: 15px;
  background-color: var(--mediumTheme);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  font-size: 1.2rem;
  transition: 0.2s ease;
}
.mediumSeverity:hover {
  border: solid 2px var(--mediumThemeHover);
  background-color: var(--mediumThemeHover);
  transition: 0.2s ease;
}
.mediumSeverity:hover ~ .mediumSeverityChild {
  transition: 0.2s ease;
  border-left: solid 1px var(--mediumThemeHover);
  border-right: solid 1px var(--mediumThemeHover);
  border-bottom: solid 1px var(--mediumThemeHover);
}
.lowSeverity {
  cursor: pointer;
  border: solid 2px var(--lowTheme);
  padding: 15px;
  background-color: var(--lowTheme);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  font-size: 1.2rem;
  transition: 0.2s ease;
}
.lowSeverity:hover {
  border: solid 2px var(--lowThemeHover);
  background-color: var(--lowThemeHover);
  transition: 0.2s ease;
}
.lowSeverity:hover ~ .lowSeverityChild {
  transition: 0.2s ease;
  border-left: solid 1px var(--lowThemeHover);
  border-right: solid 1px var(--lowThemeHover);
  border-bottom: solid 1px var(--lowThemeHover);
}
.insignificantSeverity {
  cursor: pointer;
  border: solid 2px var(--insignificantTheme);
  padding: 15px;
  background-color: var(--insignificantTheme);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  font-size: 1.2rem;
  transition: 0.2s ease;
}
.insignificantSeverity:hover {
  border: solid 2px var(--insignificantThemeHover);
  background-color: var(--insignificantThemeHover);
  transition: 0.2s ease;
}
.insignificantSeverity:hover ~ .insignificantSeverityChild {
  transition: 0.2s ease;
  border-left: solid 1px var(--insignificantThemeHover);
  border-right: solid 1px var(--insignificantThemeHover);
  border-bottom: solid 1px var(--insignificantThemeHover);
}
.processing {
  visibility: hidden;
  display: none;
}
.severeSeverityChild {
  transition: 0.2s ease;
  cursor: pointer;
  border-left: solid 1px var(--severeTheme);
  border-right: solid 1px var(--severeTheme);
  border-bottom: solid 1px var(--severeTheme);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.severeSeverityChild:hover {
  transition: 0.2s ease;
  border-left: solid 1px var(--severeThemeHover);
  border-right: solid 1px var(--severeThemeHover);
  border-bottom: solid 1px var(--severeThemeHover);
}
.highSeverityChild {
  transition: 0.2s ease;
  cursor: pointer;
  border-left: solid 1px var(--highTheme);
  border-right: solid 1px var(--highTheme);
  border-bottom: solid 1px var(--highTheme);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.highSeverityChild:hover {
  transition: 0.2s ease;
  border-left: solid 1px var(--highThemeHover);
  border-right: solid 1px var(--highThemeHover);
  border-bottom: solid 1px var(--highThemeHover);
}
.mediumSeverityChild {
  transition: 0.2s ease;
  cursor: pointer;
  border-left: solid 1px var(--mediumTheme);
  border-right: solid 1px var(--mediumTheme);
  border-bottom: solid 1px var(--mediumTheme);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.mediumSeverityChild:hover {
  transition: 0.2s ease;
  border-left: solid 1px var(--mediumThemeHover);
  border-right: solid 1px var(--mediumThemeHover);
  border-bottom: solid 1px var(--mediumThemeHover);
}
.lowSeverityChild {
  transition: 0.2s ease;
  cursor: pointer;
  border-left: solid 1px var(--lowTheme);
  border-right: solid 1px var(--lowTheme);
  border-bottom: solid 1px var(--lowTheme);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.lowSeverityChild:hover {
  transition: 0.2s ease;
  border-left: solid 1px var(--lowThemeHover);
  border-right: solid 1px var(--lowThemeHover);
  border-bottom: solid 1px var(--lowThemeHover);
}
.insignificantSeverityChild {
  transition: 0.2s ease;
  cursor: pointer;
  border-left: solid 1px var(--insignificantTheme);
  border-right: solid 1px var(--insignificantTheme);
  border-bottom: solid 1px var(--insignificantTheme);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.insignificantSeverityChild:hover {
  transition: 0.2s ease;
  border-left: solid 1px var(--insignificantThemeHover);
  border-right: solid 1px var(--insignificantThemeHover);
  border-bottom: solid 1px var(--insignificantThemeHover);
}
.listOfShit {
  background: var(--bgTheme);
  position: absolute;
  margin-left: 1%;
  top: 3.5rem;
  width: 19%;
  height: 59rem;
  overflow-y: scroll;
}
.mainHeader {
  background: var(--mainTheme);
  width: 100%;
  height: 50px;
  display: flex;
  size: 2em;
}
.headerContents {
  color: var(--bgTheme);
  background: var(--mainTheme);
  cursor: pointer;
  transition: 0.2s ease;
  padding: 15px;
}
.headerContents:hover {
  transition: 0.2s ease;
  background: var(--hoverTheme);
}
img {
  max-width: 100%;
  height: auto;
}
.imageLoading {
  color: var(--bgTheme);
  background-color: var(--bgTheme);
  position: absolute;
  left: 10px;
  top: 80px;
  padding: 5px;
}
.image {
  background-color: var(--bgTheme);
  color: var(--bgTheme);
  max-width: 5%;
}
.adminButton {
  position: fixed;
  max-width: 30vw;
  margin-left: 15vw;
  margin-top: 30vh;
  color: #0089cc;
  cursor: pointer;
}
.reportButton {
  position: fixed;
  cursor: pointer;
  margin-top: 30vh;
  max-width: 30vw;
  margin-left: 55vw;
  color: #0089cc;
  margin-right: 15%;
}
.menuImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.adminButton:hover .menuImage {
  opacity: 0.3;
}
.adminButton:hover .middle {
  opacity: 1;
}
.reportButton:hover .menuImage {
  opacity: 0.3;
}
.reportButton:hover .middle {
  opacity: 1;
}

.menuText {
  background-color: var(--mainTheme);
  color: var(--textColor);
  font-size: 3vh;
  padding: 5px 0px;
  text-align: center;
  overflow: hidden;
}
.logoMain {
  cursor: default;
  position: fixed;
  left: 43vw;
  max-width: 50px;
  display: inline;
  padding-top: 0.3vh;
}
.logoMainText {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Opera and Firefox */
  cursor: default;
  position: fixed;
  width: 100%;
  top: -3px;
  text-align: center;
  font: 24px arial, sans-serif;
  color: var(--bgTheme);
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}
.logoSide {
  cursor: default;
  position: fixed;
  right: 180px;
  display: inline;
  max-width: 50px;
  display: inline;
  padding-top: 0.3vh;
}
.logoSideText {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Opera and Firefox */
  cursor: default;
  position: absolute;
  top: -3px;
  right: 10px;
  font: 24px arial, sans-serif;
  color: var(--bgTheme);
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}
.helpButton {
  position: fixed;
  left: 94%;
  bottom: 95%;
  color: var(--bgTheme);
  cursor: pointer;
  padding: 7px 32px;
  transition: 0.2s ease;
}
.helpButton:hover {
  transition: 0.2s ease;
  background: var(--hoverTheme);
}
.optionsButton {
  position: fixed;
  left: 88.8%;
  bottom: 95%;
  color: var(--bgTheme);
  padding: 7px 32px;
  cursor: pointer;
  transition: 0.2s ease;
}
.optionsButton:hover {
  transition: 0.2s ease;
  background: var(--hoverTheme);
}
.backButton {
  position: fixed;
  color: var(--bgTheme);
  padding: 7px 32px;
  cursor: pointer;
  transition: 0.2s ease;
}
.backButton:hover {
  transition: 0.2s ease;
  background: var(--hoverTheme);
}
.welcome {
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 5vh;
}
.reports {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid var(--bgThemeHover);
}
.reports td,
reports th {
  border: 1px solid var(--bgThemeHover);
  padding: 8px;
  font-size: 0.8rem;
}
.reports tr:nth-child(even) {
  background-color: var(--bgTheme);
}

.reports tr:hover {
  cursor: pointer;
  background-color: var(--bgThemeHover);
}

.reports th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--mainTheme);
  color: white;
  font-size: 1rem;
  cursor: default;
}
.titleOfPage {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Opera and Firefox */
  cursor: default;
  position: fixed;
  width: 80vw;
  left: 10vw;
  right: 10vw;
  text-align: center;
  font: 45px arial, sans-serif;
  color: var(--bgTheme);
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}
.aliNasir {
  position: fixed;
  max-width: 20%;
  height: auto;
  top: 20%;
  left: 5%;
  border-radius: 50%;
}
.options {
  font: 25px arial, sans-serif;
  top: 30%;
  position: fixed;
  text-align: start;
  width: 60%;
  left: 40%;
  font-weight: bold;
}
.values {
  font: 25px arial, sans-serif;
  top: 30%;
  position: fixed;
  text-align: start;
  width: 50%;
  left: 50%;
  transition: 0.3s ease;
  text-decoration: underline;
}
.helpScreen {
  position: fixed;
  width: 60%;
  background-color: #ffffff;
  left: 10%;
  right: 30%;
  top: 10%;
  padding: 50px;
  bottom: 10%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 1rem;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: var(--mainTheme);
  max-height: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hoverTheme);
}

.showAllButton {
  background-color: var(--mainTheme);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  position: absolute;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
}
.showAllButton:hover {
  transition: 0.2s ease;
  background-color: var(--hoverTheme);
}

.toastContainer {
  font-size: 1rem;
}
.fallback {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 1rem;
}

.fixedButtonSevere {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: var(--severeTheme);
}
.fixedButtonSevere:hover {
  transition: 0.2s ease;
  background-color: var(--severeThemeHover);
}
.fixedButtonHigh {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: var(--highTheme);
}
.fixedButtonHigh:hover {
  transition: 0.2s ease;
  background-color: var(--highThemeHover);
}
.fixedButtonMedium {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: var(--mediumTheme);
}
.fixedButtonMedium:hover {
  transition: 0.2s ease;
  background-color: var(--mediumThemeHover);
}
.fixedButtonLow {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: var(--lowTheme);
}
.fixedButtonLow:hover {
  transition: 0.2s ease;
  background-color: var(--lowThemeHover);
}
.fixedButtonInsignificant {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: var(--insignificantTheme);
}
.fixedButtonInsignificant:hover {
  transition: 0.2s ease;
  background-color: var(--insignificantThemeHover);
}
.reportDetails {
  font: 25px arial, sans-serif;
  top: 20vh;
  position: fixed;
  text-align: start;
  width: 100vw;
  left: 25vw;
  transition: 0.3s ease;
  text-decoration: underline;
  white-space: pre-wrap;
}
.nav-tab {
  background-color: var(--bgTheme);
  display: inline-block;
  padding: 10px 25px;
  color: #555;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  font-size: 1rem;
}

.nav-tab:hover {
  background-color: var(--bgThemeHover);
}

.nav-tab.active {
  background-color: var(--insignificantThemeHover);
  color: var(--textColor);
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  border-top: 2px solid var(--mainTheme);
  cursor: default;
}
.customTable {
  transition: 0.2s ease;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
  border: 1px solid black;
}
.customTable:hover {
  transition: 0.2s ease;
  background: var(--hoverThemeLow);
}
.customTableOpen {
  transition: 0.2s ease;
  cursor: pointer;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: var(--bgTheme);
}
.customTableOpen:hover {
}

table {
  table-layout: fixed;
  width: 100%;
}
th,
td {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  width: 10%;
  /* border: 1px solid black; */
}
td.history {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  width: 10%;
}
td.report {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  width: 284px;
}
th {
  font-size: 1rem;
  background-color: var(--mainTheme);
  color: var(--textColor);
  cursor: pointer;
}
th.col1History {
  width: 237px;
}
th.col2History {
  width: 237px;
}
th.col3History {
  width: 238px;
}
th.col4History {
  width: 238px;
}
th.col5History {
  width: 238px;
}
th.col6History {
  width: 238px;
}
th.col7History {
  width: 238px;
}
th {
  font-size: 1rem;
  background-color: var(--mainTheme);
  color: var(--textColor);
  cursor: pointer;
  /* border: 1px solid black; */
}
th.col1Report {
  width: 285px;
}
th.col2Report {
  width: 285px;
}
th.col3Report {
  width: 285px;
}
th.col4Report {
  width: 285px;
}
th.col5Report {
  width: 285px;
}
th.col6Report {
  width: 285px;
}
tr:nth-child(even) {
  background-color: var(--bgThemeHover);
}
.undoButton {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px;
  margin-left: 130vh;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  left: 6rem;
  display: block;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: var(--mainTheme);
}
.undoButton:hover {
  transition: 0.2s ease;
  background-color: var(--hoverTheme);
}
.centerImage {
  position: absolute;
  left: 40%;
  top: 25%;
  width: 350px;
}
.centerTitle {
  position: absolute;
  font-size: 4rem;
  top: 55%;
  left: 45%;
}
.reportsStats {
  width: 15%;
  left: 20%;
  top: 75%;
  position: absolute;
}
.fixedStats {
  width: 15%;
  left: 40%;
  top: 75%;
  position: absolute;
}
.unverifiedStats {
  width: 15%;
  left: 60%;
  top: 75%;
  position: absolute;
}
